ul li{
    width: 300px;
    background-color: rgb(89, 206, 89);
    float: left;
    color: white;
    height: 30px;
    line-height: 30px;
    border: 2px solid transparent;
}
ul li ul{
    display: none;
}
li{
    text-align: center;
    list-style: none;
    margin: 0px;
    font-size: 1.52em;
    padding: 5px;
    border: 2px solid transparent;
}
ul li:hover ul{
display: block;
background-color: rgb(236, 240, 228);
}
ul li:hover{
    background-color: rgb(113, 151, 38);
}
ul li:hover ul li{
    background-color: rgb(60, 100, 60);
    position: relative;
    left:-48px;
    top: 7px;
    opacity: 0.6;
}
ul li ul li{
    font-size: 1em;
}
ul li ul li:hover{
    font-size: 1em;
    background-color: rgb(162, 201, 162);
    
}
body{
    background: url(../img/1.jpg) center center fixed no-repeat;
    background-size: cover;
}