body{
    background-color        : #F8DE7E;

}
#mySidenav a {
    height          : 70px;
    text-align      : center;
    z-index         : 1000;
    position        : fixed; /* Position them relative to the browser window */
    left            : -100px; /* Position them outside of the screen */
    transition      : 0.3s; /* Add transition on hover */
    padding         : 15px; /* 15px padding */
    width           : 100px; /* Set a specific width */
    text-decoration : none; /* Remove underline */
    font-size       : 20px; /* Increase font size */
    /* color           : black; White text color */
    border-radius   : 0 10px 10px 0; /* Rounded corners on the top right and bottom right side */
    /* border          : 1px solid black; */
}

#mySidenav a:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a background */
#home {
    top: 20px;
    border                  : 1px solid #1560BD;
    color                   : #1560BD; 
    background-color        : #F8DE7E;
}
#Wmad {
    top: 150px;
    border                  : 1px solid #F2E7C9;
    color                   : #F2E7C9;
    background-color        : rgb(56, 113, 182);
}

#PreWmad {
    top: 280px;
    color                   : #F8DE7E;
    border                  : 1px solid #F8DE7E;
    background-color        : #2B4162;
}

#Portfolio {
    top: 410px;
    color                   : #2B4162;
    border                  : 1px solid #2B4162;
    background-color        : #F2E7C9;
}
