body {
    background-image: url(images/help.png); /* Путь к фоновому изображению */
    background-attachment: fixed; /* Фиксируем фон веб-страницы */
   }
   #mySidenav a {
    height          : 70px;
    text-align      : center;
    z-index         : 1000;
    position        : fixed; /* Position them relative to the browser window */
    left            : -100px; /* Position them outside of the screen */
    transition      : 0.3s; /* Add transition on hover */
    padding         : 15px; /* 15px padding */
    width           : 100px; /* Set a specific width */
    text-decoration : none; /* Remove underline */
    font-size       : 20px; /* Increase font size */
    color           : black; /* White text color */
    border-radius   : 0 10px 10px 0; /* Rounded corners on the top right and bottom right side */
    border          : 1px solid black;
}

#mySidenav a:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a background */
#home {
    top: 20px;
    background-color : white;
}
#Wmad {
    top: 150px;
    background-color : #F6F9F8;
}

#PreWmad {
    top: 280px;
    background-color        : #D9F2F7;
}

#Portfolio {
    top: 410px;
    background-color        : #FFF1A3;
}